extends layout

block content
	div.body
		h1(class="red") #[strong Create your post]
		p If you have volunteered with the Bucket Brigade and would like to share your experience feel free to send us your review below. You can include photos, videos, and/or written responses.
		
		a
		span(style='color: red;') *
		span(style='color: black;') indicates a required question.
		
		p(class="space") space
		
		form(action="/submit_form", method="POST", enctype="multipart/form-data", class="needs-validation")
			p
				label(for="name") What is your first and last name?
				span(style='color: red;') *
			p
				input(id="name", type="text", name="name", placeholder="", class="form-control", required)
			p
				label(for="grade") What grade are you in?
				span(style='color: red;') *
			p
				select(id="grade", name="grade", class="form-control", required)
					option(value="") 
					option(value="9") 9
					option(value="10") 10
					option(value="11") 11
					option(value="12") 12
			p
				label(for="school") What school do you go to?:
			p
				select(id="school", name="school", class="form-control", required)
					option(value="") 
					option(value="santa barbara high school") Santa Barbara High School
					option(value="san marcos high school") San Marcos High School
					option(value="dos pueblos high school") Dos Pueblos High School
					option(value="laguna blanca school") Laguna Blanca School
					option(value="alta vista high school") Alta Vista High School
					option(value="bishop diego high school") Bishop Diego High School
					option(value="other") Other
		
			p
				label(for="anonymous") Would you like this submission to be anonymous once it's posted?
				span(style='color: red;') *
			p
				select(id="anonymous", name="anonymous", class="form-control", required)
					option(value="")
					option(value="yes") Yes
					option(value="no") No
			p
				label(for="date") When did you volunteer?
				span(style='color: red;') *
			p
				input(id="date", type="text", name="date", placeholder="", class="form-control", required)
			p
				label(for="work") What volunteering did you do?
				span(style='color: red;') *
			p
				select(id="work", name="work", class="form-control", required)
					option(value="")
					option(value="humanitarian garden") Humanitarian Garden
					option(value="yankee farm") Yankee Farm
					option(value="academy") Academy
					option(value="post-disaster community restoration and assistance") Post-disaster community restoration and assistance
			p
				label(for="story") Write your review/story/experience below:
			p
				textarea(id="myTextArea" name="story" class="form-control")
			p
				label(for="media") Upload photos/videos below (accepts png, jpg, jpeg, GIF, MOV, MP4, WEBM):
			p
				input(id="media", type="file", name="media", accept="image/*,video/*", multiple)
				div(class="invalid-feedback")
					Please submit a valid file type
			input(type="submit")
			
	script(src='/scripts/submission.js')
	
	script.
			'use strict'
			var forms = document.querySelectorAll('.needs-validation')
			Array.prototype.slice.call(forms)
				.forEach(function (form) 
				{
					form.addEventListener('submit', function (event) 
					{
						if (!form.checkValidity() || !fileValidation()) 
						{
							event.preventDefault()
							event.stopPropagation()
						}

						form.classList.add('was-validated')
					}, false)
				})

			input(type="submit")
			

