extends layout

block content
	div.body
		div(class="row")
			div.text-center
				h3 Your post has been submitted and is now under review.
				a(href="/volunteer-experiences" class="btn btn-danger btn-lg") #[strong Return to Volunteer Experiences]